NODE_ENV=development
BOT_PREFIX=.
PORT=3001
HANDLE_SELF_MESSAGES=true
HANDLE_INCOMING_MESSAGES=true
OWNER_NUMBER=
OWNER_NAME=Owner
DASHBOARD_URL=http://localhost:3001
SCRIPT_URL=
DONATE_TEXT=
RULES_TEXT=
SESSION_PATH=./sessions
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
DATABASE_URL="postgresql://user:password@localhost:5432/whatsapp_bot?schema=public"
